	<ng-dir-loading></ng-dir-loading>

	<ng-dir-loginform ng-show="loginPop"></ng-dir-loginform>

	<ng-dir-signform ng-show="signPop"></ng-dir-signform>


<section ng-show="!loading">
		

		<div class="project-view-box">
			<div id="projectArea">
				<img src="http://placehold.it/550x1050" alt="Placeholder shitz">
				<div class="pinContainer" id="xcascadasd" ng-click="statusClick = !statusClick">1
					<div class="commentArea {'displayNone : statusClick, '' : !statusClick}">
						<div class="comment-list">
							
							<!-- comment system - disqus  -->
							<!-- Avatar - Nazwa  uzytkownika --><!-- Data dodania  -->
							<!-- tresc -->	<!-- załącznik jako tooltip -->
							<!-- Score --><!-- Like it hearth-o / thumbs-up -->
							<p class="comment-signature">Jan kowalski</p>
							<p class="comment-text">Lorem dolorem ipsum isnt so bad...</p>
							<div class="comment-score">
								<!-- <span><i class="fa fa-plus" ng-click="statusClickS()"></i></span>
								<span class="score-score">{{score}}</span>
								<span><i class="fa fa-minus" ng-disabled="statusClick" ng-click="score = score -1"></i></span> -->
								<span class="score-score">{{score}}</span>
								<span><i class="fa fa-heart-o"></i></span>
							</div>


							<!-- end -->
						</div>
						<div class="comment-list">
							<p class="comment-text">Lorem dolorem ipsum isnt so bad...</p>
							<div class="comment-score">
								<span class="score-score">{{score-2}}</span>
								<span><i class="fa fa-heart-o"></i></span>
							</div>
							<p class="comment-signature">Jan kowalski</p>
						</div>
						<input type="text" placeholder="Name">
						<textarea placeholder="lorem dolorem ipsum"></textarea>
						<input type="button" value="Add new comment">
					</div>
				</div>
				<div class="pinContainer" id="sdsdadasd">2
					<div class="commentArea">
						<div class="comments-container">
							<div class="comment-list">
								<p class="comment-text">Lorem dolorem ipsum isnt so bad...</p>
								<div class="comment-score">
									<span><i class="fa fa-plus"></i></span>
									<span class="score-score">3</span>
									<span><i class="fa fa-minus"></i></span>
								</div>
								<p class="comment-signature">Jan kowalski</p>
							</div>
							<div class="comment-list">
								<p class="comment-text">Lorem dolorem ipsum isnt so bad...</p>
								<div class="comment-score">
									<span><i class="fa fa-plus"></i></span>
									<span class="score-score">3</span>
									<span><i class="fa fa-minus"></i></span>
								</div>
								<p class="comment-signature">Jan kowalski</p>
							</div>
							<div class="comment-list">
								<p class="comment-text">Lorem dolorem ipsum isnt so bad...</p>
								<div class="comment-score">
									<span><i class="fa fa-plus"></i></span>
									<span class="score-score">3</span>
									<span><i class="fa fa-minus"></i></span>
								</div>
								<p class="comment-signature">Jan kowalski</p>
							</div>
						</div>
						<input type="text" placeholder="Name">
						<textarea placeholder="lorem dolorem ipsum"></textarea>
						<input type="button" value="Add new comment">
					</div>
				</div>
<!-- 				<span class="pin" id="xcqwdddwss">
					<div class="commentArea">
						<p>Lorem ipsum dolorem cos tam</p>
					</div>
				</span> -->
<!-- 				<span class="pin" id="sdsdadawdd">
					<div class="commentArea">
						<p>Lorem ipsum dolorem cos tam</p>
					</div>
				</span> -->
			</div>
		</div>


		<div class="project-menu">
			
			<a href="#/" title=""><i class="fa fa-home fa-2x"></i></a>
			<i class="fa fa-desktop fa-2x"></i>
			<i class="fa fa-mobile-phone fa-4x"></i>


			<i class="fa fa-bars fa-2x"></i>

		</div>




</section>
