<br><br><br>


<h2>Footer</h2>	

<ul>
	<li><strong>{{ objects[0].allComments}}</strong><span class="distancer">All comments</span></li>
	<li><strong>{{ objects[0].allImages}}</strong><span class="distancer">All images</span></li>
	<li><strong>{{ objects[0].allPins}}</strong><span class="distancer">All Pins</span></li>
	<li><strong>{{ objects[0].allVisited}}</strong><span class="distancer">All visit</span></li>
	<li><strong>{{ objects[0].todayUploaded}}</strong><span class="distancer">Today uploaded</span></li>
</ul>

<ul>
	<li><a href="#" title="#"  class="signUpBtn">Sign Up</a></li>
</ul>

<h2>The site owner is not responsible for uploaded images. You can only upload images for which you own the copyright. <br>
Symu uses "Cookies" for stats | <a href="#" title="Terms of service">Terms of service</a> | Contact: <a href="mailto:joe@example.com" "email me">contact@symu.co</a></h2>