<img src="https://symu.co/app/plugins/wp/resources/img/logo-small-white.png" alt="Logo"> 
<ul>
	<li><a ng-href="#/" title="#">Home</a></li>
	<li><a ng-href="#/about" title="#">Features</a></li>
	<li><a ng-href="#/errroor" title="#">Freebies</a></li>
	<li><a title="#" ng-href="#/user/{{userId}}" ng-show="logged"><i class="fa fa-user"></i>{{username}}</a></li>
	<li><a title="#" ng-click="loginPop = !loginPop" ng-show="!logged">Log In</a></li>
	<li><a title="#" class="signUpBtn" ng-click="signPop = !signPop" ng-show="!logged">Sign Up</a></li>
</li>
</ul>