<div id="signForm" ng-controller="FormCtrl">
	<form ng-submit="submit()">
		<a ng-click="$parent.signPop = !$parent.signPop">Close X</a>
		<ul> 
			<li>Register in: </li>
			<li><input type="text" placeholder="Type an username" ng-model="text"></li>
			<li><input type="password" placeholder="Type a password"></li>
			<li><input type="email" placeholder="Type an email"></li>
			<li><input type="submit" name="" value="Sign up!"></li>
		</ul>
		<br>
		<br>
		<ul>
			<li ng-repeat="li in list">{{li}}</li>
		</ul>
	</form>

</div>